.banner-9-contrainer-1{
    width: 1320px;
    height: 1px;
   background-color: blue;
   margin-left: 150px;
   margin-top: 200px;
}
.contrainer{
    width: 1600px;
    height: 609px;
    background-color: #070211;
}
.banner-9-contrainer-2{
    width: 1320px;
    height: 1px;
   background-color: blue;
   margin-left: 150px;
   margin-top: 100px;
}
.banner-9-image-contrainer{
    align-items: center;
    margin-top: 100px;
}
.banner-9-image-1{
    margin-left: 700px;
}